{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Your Orders...</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Order Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="d-flex align-items-center justify-content-center mb-5">
   <div class="container-fluid bg-secondary mt-5 p-2">

        {% for i in orders %}
            {% for j in i.products.all %}
                    <div class="container bg-warning">
                        <div class="row mb-5 p-2 text-dark align-items-center ">
                            <div class="card mb-3 mx-auto" style="max-width: 1080px;">
                              <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{j.product.image.url}}" style="height: 250px; width: 400px; object-fit: cover;" class="img-fluid rounded-start">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h1 class="card-title">{{j.product.name}}</h1>
                                      <h3><strong>Price:</strong>{{j.product.price}}</h3>
                                      <h3><strong>Quantity:</strong>{{j.quantity}}</h3>
                                      <h3><strong>Order On:</strong>{{i.order_date}}</h3>
                                      <h3><strong>Delivery Status:</strong>your order in way...</h3>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% endfor %}

</div>
</div>

{% endblock %}